<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="icon" type="image/png" href="{{ asset('/images/favIcon2.png') }}"/>
		<title>
			{% block title %}Bienvenue
			{% endblock %}
		</title>

		{# C'est l'endroit correct pour les feuilles de style globales #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{{ include('navbar.html.twig') }}

		{# Contenu de la page spécifique #}
		{% block body %}{% endblock %}

		{{ include('footer.html.twig') }}

		{# C'est l'endroit idéal pour le JS qui manipule le DOM (comme votre script d'œil) #}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
